.week {
    margin: 2px;
    padding: 5px;
    background-color: #F0F0F0;
}

.weekName, .dayName {
    font-weight: bold;
}

.weekName {
    color: #404040;
}

.dayShort {
    margin: 2px 2px 0px 2px;
    padding: 5px;
    background-color: #E5F3FF;
}

.dayShortSelected {
    background-color: #6BBAFF;
}

.dayLong {
    margin: 0px 2px 2px 2px;
    padding: 5px;
    background-color: white;
    position: relative;
    z-index: 0;
}

.week, .dayLong, .dayShort {
    border: 1px solid black;
}

.run {
    color: #CC0000;
}

.bike {
    color: #008F00;
}

.swim {
    color: #000099;
}

dt {
    padding: 0px;
    margin: 0px;
}

dd {
    padding: 4px;
    margin: 4px;
}

.expand {
    position: fixed;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    top: 5%;
    bottom: 5%;
    border: 2px solid black;
    background-color: white;
    padding: 10px;
    z-index: 10;
    overflow-y: auto;
}

@media screen and (min-width: 1024px) {
    .expand {
        margin-left: -25%;
        width: 50%;
        top: 10%;
        bottom: 10%;
    }
}

.noScroll {
    overflow: hidden;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
