<div>
    <div class="dayShort noselect">
        <div class="fa pull-right"
             ng-class="isVisible(day.id) ? 'fa-chevron-up' : 'fa-chevron-down'"
             ng-click="toggle(day.id)"></div>
        <span class="dayName">{{ day.dayOfWeek }}</span>
        <div>
            <div ng-repeat="total in day.dayTotals">
                <span ng-class="total[0] | lowercase">{{ total.join(" ") }}</span>
            </div>
        </div>
    </div>
    <div class="dayLong noselect"
         ng-bind-html="day.dayWorkout | sanitize"
         ng-show="isVisible(day.id)"
         ng-click="toggle(day.id)">
    </div>
</div>
