.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.week {
    margin: 5px;
    padding: 5px;
    background-color: #F0F0F0;
}

.weekName, .dayName {
    font-weight: bold;
}

.weekName {
    color: #404040;
}

.dayShort {
    margin: 5px 5px 0px 5px;
    padding: 5px;
    background-color: #E5F3FF;
}

.dayShortSelected {
    background-color: #6BBAFF;
}

.dayLong {
    margin: 0px 5px 5px 5px;
    padding: 5px;
    background-color: white;
}

.week, .dayLong, .dayShort {
    border:1px solid black;
}

.weekToggle {
    margin: 2px;
}

dt {
    padding: 0px;
    margin: 0px;
}

dd {
    padding: 4px;
    margin: 4px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
