<!DOCTYPE HTML>
<html lang="en" ng-app="opentri">
<head>
  <meta charset="utf-8">
  <title>my html file</title>
  <link rel="stylesheet" href="purecss/pure.css">
  <link rel="stylesheet" href="opentri-angular.css">
  <script src="angular/angular.js"></script>
  <script src="opentri-angular.js"></script>
</head>
<body class="pure-g">
    <div ng-controller="WorkoutsController as workoutsController">
        <div class="pure-u-1" 
            ng-repeat="week in workoutsController.workouts">
            <div class="pure-u-2-24">
                <div ng-click="workoutsController.toggle(week.weekNum)">
                {{ week.weekNum }} - {{ week.startDate}} <br\>
                    {{ week.weekTotals | json }}
                </div>
                <div ng-show="workoutsController.isVisible(week.weekNum)">
                    {{ week.weekHeader}}
                </div>
            </div>
            <div class="pure-u-3-24" ng-repeat="day in week.days">
                <div ng-click="workoutsController.toggle(day.dayId)" >
                    {{day.dayTotals | json}}
                </div>
                <div ng-show="workoutsController.isVisible(day.dayId)">
                    {{day.dayWorkout}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
