<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <link rel="stylesheet" href="opentri.css">
        <script src="jquery-1.11.2.min.js"></script>
        <script src="opentri.js"></script>
    </head>
    <title>Open Tri Workouts</title>
    <body>
        <h1>WORKOUTS</h1>
        ${weeks}
    </body>
</html>
