<div class="week pure-g" id="${weekId}" data-weekStart="${weekStart}">
    <div class="weekHeader pure-u-1">
        <span class="weekName">${weekName}</span> - ${weekDate} -
        <a class="weekToggle" href="#" data-display="true">Show</a> |
        <a class="weekToggle" href="#" data-display="false">Hide</a> Week -
        <a class="daysToggle" href="#" data-display="true">Show</a> |
        <a class="daysToggle" href="#" data-display="false">Hide</a> Days -
        <a href="${weekUrl}">Source</a>
    </div>
    <div class="weekDays pure-u-1">
        ${days}
    </div>
</div>
